@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Arial";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: left;
    font-size: 2.5em;
}

.btn {
    text-align: left;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}


.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .1em;
    font-weight: bold;
   
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    margin: 10px;
    border: 3px solid brown;
    border-radius: 10px;
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    text-shadow: 0px 1px 0px #cc9f52;
    max-width: 250px;
}
.shop-item:hover{
    border: 3px solid orange;
    cursor: pointer;
    box-shadow: #333;
}
.shop-item-title {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
    padding: 4%;
}

.shop-item-image {
    height: 200px;
    min-width: 150px;
    max-width: 243px;
    border-radius: 10px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 10px;
}
.shop-item-sdesc{
    color: black;
    margin: 15px;
}
.shop-item .star{
    color: red;
    padding-top: 3%;
    padding-left: 5%;
}
.shop-item-price {
    flex-grow: 1;
    color: #333;
    margin: 4%;
    font-size: large;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 4px auto 8px auto;
    font-size: 1em;
}
