* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

/* Image */
.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image h2{
    display: none;
}

.image img {

    height: 100%;
    width: 100%;
}

.profile {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* margin-left: 18%; */
    overflow: hidden;
    position: relative;

}

.image #file {
    display: none;
    position: absolute;
}

/* update photo button css */
.profile #uploadBtn {
    color: black;
    width: 100%;
    height: 40px;
    justify-content: center;
    text-align: center;
    margin-left: 18%;
    padding-left: 5px;
    padding-right: 20px;
    position: absolute;
    left: -13%;
    margin-top: 81%;
    cursor: pointer;
    background: rgba(157, 156, 156, 0.732);
}

.image #uploadBtn:hover {
    color: blue;
    /* border-radius: 10px; */
    /* background-color: #c7d4e94f; */

    transition: all 0.3s ease 0s;

}
.image h3 {
    font-weight: lighter;
    margin-top: 0.5em;
}

.image p {
    font-weight: 600;
}


/* Table */
.image table {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.image table,
tr {
    width: 70%;
    border: 1px solid #ddd;
    text-align: center
}

.image table td {
    padding: 7px;
}

.image table td a {
    color: black;
    text-decoration: none;
}

.form {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 18px;
    text-align: center;
    float: left;
    border: none;
    /* margin: 0 10%; */
    border-radius: 10px;
    width: 90%;
}
.left{
    min-width: 350px;
}
.form table{
    width: 100%;
    margin: 40px;
    padding: 60px;
    /* margin: 20px; */
}

.form td {
    padding-left: 40px;
    padding-bottom: 30px;
    align-content: center;
    text-align: left;
    /* min-width: 110px; */
}

.form .input {
    margin-top: 10px;
    height: 30px;
    width: 100%;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

span {
    color: red;
}
.form table .button {
    float: right;
    /* margin: 0 60px; */

}

input[type=submit] {
    margin: 5px;
    float: right;
    width: 150px;
    font-size: 14px;
    border: 1px solid #0d6efd;
    border-radius: 4px;
    padding: 10px 25px;
    color: #0d6efd;
}
input[type=submit]:hover {
    color: white;
    background-color: #0d6efd;
    transition: all 0.3s ease 0s;
}

@media screen and (max-width:1060px) { 
    .form{
        font-size: 16px;
        align-items: center;
        padding: 50px;
    }

    .form table{
        align-items: center;
    }
    .form td {
        padding-left: 20px;
        margin: 5px 0;
        padding-bottom: 5px;
        padding-right: 60px;
        align-content: center;
        text-align: left;
        display: grid;

    }

    .form .input {
        height: 30px;
        width: 100%;
        float: right;
        max-width: 650px;
    }
    .form table .button{
        float: right;
        /* margin: 0 60px; */
        
    }
    input[type=submit]{
        margin: 5px;
        float: right;
        width: 150px;
        font-size: 14px;
        border: 1px solid #0d6efd;
        border-radius: 4px;
        padding: 10px 25px;
        color: #0d6efd;
        
    }
} 

@media screen and (max-width:767.5px) {
    .image h2{
        display: inline;
    }
    .form h2 {
        display: none;
    }
    .form{
        font-size: 14px;
        align-items: center;
        /* padding: 100px; */
    }

    .form table{
        align-items: center;
        /* padding-left: 100px; */
    }
    .form td {
        padding-left: 5px;
        padding-bottom: 3px;
        align-content: center;
        text-align: left;
        display: grid;

    }

    .form .input {
        margin-left: 10px;
        /* margin-right: 20px; */
        height: 30px;
        width: 100%;
        float: right;
        max-width: 620px;
    }
    .form table .button{
        float: right;
        height: 30px;
        
    }
    input[type=submit]{
        margin: 5px;
        float: right;
        width: 150px;
        font-size: 14px;
        border: 1px solid #0d6efd;
        border-radius: 4px;
        padding: 10px 25px;
        color: #0d6efd;
}
}